body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: left;
    background-color: #091428;
    color: #C89B3C;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

nav {
    width: 100%;
    background-color: #005A82;
    padding: 1rem;
    margin: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav a {
    color: #C8AA6E;
    text-decoration: none; 
}

nav a:hover {
    color: #E0B800;
}

.container {
    margin: 1rem;
}

main {
    flex-grow: 1;
    padding: 1rem;
    background-color: #f9f9f3;
    width: 100%;
}

aside {
    width: 100%;
    background-color: #d8cdad; 
    color: #967121;
    padding: 1rem;
    margin-top: 1rem;
}

footer {
    background-color: #0A1428;
    color: #785A28;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
    clear: both;
}

footer a {
    text-decoration: none;
    color: #C89B3C;
}