body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
}

header {
    text-align: left;
    background-color: #091428;
    color: #C89B3C;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

nav {
    text-align: left;
    background-color: #005A82;
    padding: 1rem;
    display: flex;
    height: 40%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
}

nav a {
    color: #C8AA6E;
    text-decoration: none; 
}

nav a:hover {
    color: #E0B800;
}

.container {
    display: flex;
    margin: 1rem;
}

main {
    flex-grow: 1;
    padding: 1rem;
    background-color: #f9f9f3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 10px;
}

aside {
    width: 50%;
    background-color: #d8cdad; 
    color: #967121;
    padding: 1rem;
    margin-left: 1rem;
}

footer {
    background-color: #0A1428;
    color: #785A28; 
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

footer a {
    text-decoration: none;
    color: #C89B3C;
}